<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}سامانه انتخاب واحد{% endblock %}</title>
</head>
<body>

    <div id="navbar">
        <p>
            <a id="login" href="">Log In</a>
            <a id="register" href="/sign_up/">Sign Up</a>
            <span style="float: right">
                <a id="homepage" href="/">Home Page</a>
            </span>
        </p>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>