<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}سامانه انتخاب واحد{% endblock %}</title>
    <link rel="stylesheet" href="first_page.css">
</head>
<body>

    <div>
        <p>
            <a href="">Log In</a>
            <a href="">Sign Up</a>
            <span style="float: right">
                <a href="">Home Page</a>
            </span>
        </p>
    </div>

    <p align="right" style="direction: rtl">سلام. به سامانه‌ی انتخاب واحد مجازی خوش آمدید.</p>

</body>
</html>