{% extends "base.html" %}

{% block content %}
    <form id="search_form" method="POST">
        {% csrf_token %}
        <label>Search: <input name="search_query" type="text"></label>
        <button name="submit" value="submit">Search</button>
    </form>
    <div id="all_courses">
        {% for x in course_list %}
            <div class="{{ x.course_number }}_{{ x.group_number }}">
                <h4>{{ x.name }}</h4>
                <div>{{ x.department }}</div>
                <div>{{ x.first_day }} {{ x.second_day }}</div>
                <div>{{ x.start_time }}</div>
                <div>{{ x.teacher }}</div>
            </div>
        {% endfor %}
    </div>
    <div id="search_result">
        {% for y in temp %}
            <div class="{{ y.course_number }}_{{ y.group_number }}">
                <h4>{{ y.name }}</h4>
                <div>{{ y.department }}</div>
                <div>{{ y.first_day }} {{ y.second_day }}</div>
                <div>{{ y.start_time }}</div>
                <div>{{ y.teacher }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}